# همهی متنها بهصورت خودکار نرمال میشوند
* text=auto

# فایلهای مرسوم پروه با LF
*.py   text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml  text eol=lf
*.md   text eol=lf

# اسکریپتهای PowerShell روی CRLF (اگر داشتی)
*.ps1  text eol=crlf
